.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--offset-base-size) * 8);
}

.section {
    column-width: 100px;
    column-count: 2;
    column-gap: 30px;
    height: 130px;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.done {
    color: #00CCCC;
}