.header {
    background: #1C1C21;
    width: 100%;
}

.content {
    display: flex;
    margin: 0 auto;
    height: 88px;
    width: 1280px;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
}

.middle, .left, .right {
    display: flex;
    flex: 0.33 1 33%;
    align-items: center;
    height: 100%;
}

.middle {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}